# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore environment variables file
.env

# Ignore built files
dist/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db